<!--
  Generated template for the PulsapaketdataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="pulsapaket=='PULSA'">Pembelian Pulsa</ion-title>
    <ion-title *ngIf="pulsapaket=='DATA'">Pembelian Paket Data</ion-title>    
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-list>

    <ion-item>
        <ion-label inline>No Handphone</ion-label>
<ion-input placeholder="081xxxxxxxxx"  type="tel" [(ngModel)]='handphoneno'>
</ion-input>
</ion-item>
<ion-item>
    <ion-label>Operator</ion-label>
    <ion-select style=" max-width: 100% !important;"[(ngModel)]="selectedvendor" interface="popover">
      <div *ngFor="let data of vendordata">
      <ion-option  [value]="data.vendorCode">{{data.vendorCode}}</ion-option>
      </div>
    </ion-select>
  </ion-item>
</ion-list>

<ion-item>
    <ion-label>Nominal</ion-label>
    <ion-select [(ngModel)]="selecteddetail" interface="popover" style=" max-width: 100% !important;"  >
      <div *ngIf="checklength()">
        <div *ngFor="let data of vendordetail[selectedvendor]">
      <ion-option [value]="data">{{pulsapaket=='PULSA'?data.pulsaName:data.paketDataName}}</ion-option>
            </div>
      </div>
    </ion-select>
  </ion-item>

<div padding>
    <button ion-button color="primary" block (click)="inputCheck()">SUBMIT</button>
  </div>
</ion-content>
