page-home {

.butcol{
    
    height: auto;
}

.colbut{
    border-style: solid;
    border-width: 1px;
    border-color: #f53d3d;
    border-radius: 25px;
}

.butcolmenu{
    
    height: auto;
}

.colbutmenu{
    height: auto;
}

.headermenu{
    color: #f53d3d
}
}