page-history {
.item-inner{
    height:25px;
}
.item-block{
    min-height: 0rem;
}
.item-md .item-button {
    padding: 0px;
    height: 25px;
    margin:0px;
    font-size: 1.2rem;
}
.card-header-md {
    padding-bottom: 0px
}


.segmented {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}
}
