<!--
  Generated template for the ChangepassPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-buttons start>
          <button ion-button (click)="closeModal()">
             <ion-icon 
            name="md-close" ></ion-icon>
           </button>
         </ion-buttons>     
    <ion-title *ngIf="type=='PASS'">Ubah Password</ion-title>
    <ion-title *ngIf="type=='PIN'">Ubah PIN</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list *ngIf="type=='PASS'">
  <ion-item>
    <ion-label stacked>Password Saat Ini</ion-label>
    <ion-input type="password" [(ngModel)]="input.oldpin"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label stacked>Password Baru </ion-label>
      <ion-input type="password" [(ngModel)]="input.newpin"></ion-input>
    </ion-item>

  <ion-item>
      <ion-label stacked>Ulangi Password Baru</ion-label>
      <ion-input type="password" [(ngModel)]="input.newpinrep"></ion-input>
    </ion-item>
</ion-list>

<ion-list *ngIf="type=='PIN'">
    <ion-item>
      <ion-label stacked>PIN Saat Ini</ion-label>
      <ion-input type="password" [(ngModel)]="input.oldpin"></ion-input>
    </ion-item>
  
    <ion-item>
        <ion-label stacked>PIN Baru </ion-label>
        <ion-input type="password" [(ngModel)]="input.newpin"></ion-input>
      </ion-item>
  
    <ion-item>
        <ion-label stacked>Ulangi PIN Baru</ion-label>
        <ion-input type="password" [(ngModel)]="input.newpinrep"></ion-input>
      </ion-item>
  </ion-list>

  <not-same [newpin]="input.newpin" [newpinrep]="input.newpinrep" [type]="type">
  </not-same>

<div class="spacer" style="height: 20px;" ></div>
<button ion-button block color='primary' (click)="checkpin()">
   <div>Submit</div></button>

</ion-content>
