<!--
  Generated template for the AddclientPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Daftar Client</ion-title>
  </ion-navbar>

</ion-header>




<ion-content padding>
  <form [formGroup]="form" (submit)="submitButton()">
    <ion-list>
       <ion-item>
         <ion-label stacked>Nama</ion-label>
         <ion-input class="form-control" formControlName="name" placeholder="cth. Reza Aulia"> </ion-input>
       </ion-item>
  
       <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input class="form-control" formControlName="email" placeholder="cth. reza.aulia@gmail.com"> </ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label stacked>Handphone</ion-label>
        <ion-input type="tel" class="form-control" formControlName="handphone" placeholder="cth. 08132232765"> </ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Provinsi</ion-label>
        <ion-select style=" max-width: 100% !important;" class="form-control" formControlName="province" interface="popover">
          <div *ngFor="let data of province">
          <ion-option  [value]="data.id">{{data.desc}}</ion-option>
          </div>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Kota/Kabupaten</ion-label>
        <ion-select style=" max-width: 100% !important;" class="form-control" formControlName="city" interface="popover" [disabled]="form.value.province==''">
          <!-- <div *ngFor="let data of vendordata">
          <ion-option  [value]="data.vendorCode">{{data.vendorCode}}</ion-option>
          </div> -->
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Kecamatan</ion-label>
        <ion-select style=" max-width: 100% !important;" class="form-control" formControlName="district" interface="popover" [disabled]="form.value.city==''">
          <!-- <div *ngFor="let data of vendordata">
          <ion-option  [value]="data.vendorCode">{{data.vendorCode}}</ion-option>
          </div> -->
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Kelurahan/Desa</ion-label>
        <ion-select style=" max-width: 100% !important;" class="form-control" formControlName="subdistrict" interface="popover" [disabled]="form.district==''">
          <!-- <div *ngFor="let data of vendordata">
          <ion-option  [value]="data.vendorCode">{{data.vendorCode}}</ion-option>
          </div> -->
        </ion-select>
      </ion-item>
         <ion-item>
             <ion-label stacked>Alamat Detail</ion-label>
             <ion-textarea type="text" rows="3" maxLength="500" class="form-control" formControlName="province" textarea></ion-textarea>
           </ion-item>
  
       <div padding>
         <button ion-button color="primary" block>Next</button>
       </div>
  
     </ion-list>
   </form>
</ion-content>
