<!--
  Generated template for the InformasirekeningPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Informasi Rekening</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h4>Jarak Tanggal:</h4>
  <div *ngIf="fromreport">
    {{datefromreport | date:'dd-MM-y'}} - {{dateto}}
  </div>
  <div *ngIf="!fromreport">  
  {{datefrom}} - {{dateto}}
  </div> 
  <h4>Saldo Awal:</h4>
  {{saldoawal | number:'3.2-5'}}
  <h4>Saldo Akhir:</h4>
  {{datasaldo.SALDO | number:'3.2-5'}}
  <h4>Transaksi Terakhir:</h4>
  <div *ngFor="let data of datasaldo.DATA | orderBy:'-tranDate'; let i = index ">
    {{i+1+'.' +' '+ (data.tranDate| date:'dd-MM-y') + ' '+data.trnType+' '+data.tran_number+' '+(data.amount | number:'3.2-5')}}
  <div class="spacer" style="height: 5px;" ></div>
  </div>
</ion-content>
